<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="/css/pedometer.css">  
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBFzkP1MG9TqjeRIbwcqbelGNuHAOMTJKQ&sensor=false"></script>
    <script src="/js/jquery-1.8.1.min.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/base64.js"></script>
    <script src="/js/lzw.js"></script>
    <script src="/js/pedometer.js"></script>
  </head>
  <body>
    <div id="map_canvas"></div>
    <div id="travel_mode" class="top-bar clickable"></div>
    <div id="usystem" class="top-bar clickable"></div>
    <div id="markers" class="top-bar clickable"></div>
    <div id="save" class="top-bar clickable">Save</div>
    <div id="load" class="top-bar clickable">Load</div>
    <div id="distance" class="top-bar">0 km</div>
    <div id="undo" class="top-bar clickable">Undo</div>
    <div id="clear" class="top-bar clickable">Clear</div>
    <div id="persist" class="top-bar">
      <table width="100%">
        <tr>
          <td style="width: 1;">Code</td>
          <td><input id="persist_input" type="text" /></td>
        </tr>
      </table>
    </div>
    <div id="sview_button" class="top-bar clickable">Street View</div>
    <div id="sview" class="top-bar">
      <div id="sview_controls">
        <span id="sview_rr" class="sview-control clickable"><<</span>
        <span id="sview_r" class="sview-control clickable"><</span>
        <span id="sview_f" class="sview-control clickable">></span>
        <span id="sview_ff" class="sview-control clickable">>></span>
        <span>&nbsp;</span>
        Segment <span id="sview_elem">0</span>: 
        <span id="sview_leg">0</span> / <span id="sview_leg_total">0</span>
      </div>
      <div id="sview_image_container">
        <img id="sview_image"></img>
      </div>
    </div>
    <div id="help_button" class="top-bar clickable">Help</div>
    <div id="help" class="top-bar">
      <p>Right click to drop path nodes</p>
      <p><b>Controls, left to right</b></p>
      <p>Biking / running directions</p>
      <p>Imperial / metric units</p>
      <p>Show mile / kilometer markers</p>
      <p>Save or load a path (copy the code)</p>
      <p>Undo a node or clear the path</p>
      <p>Preview the route</p>
      <p><b>About</b></p>
      <p>Inspired by the <a href="http://gmap-pedometer.com">original</a></p>
      <p>Author: Lawrence Xing</p>
      <p>Contact: lxing@stanford.edu</p>
    </div>
    <div id="elevation"></div>
  </body>
</html>