<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="/css/pedometer.css">  
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBFzkP1MG9TqjeRIbwcqbelGNuHAOMTJKQ&sensor=false"></script>
    <script src="/js/jquery-1.8.1.min.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/pedometer.js"></script>
  </head>
  <body>
    <div id="map_canvas"></div>
    <div id="distance">0 km</div>
    <div id="elevation"></div>
  </body>
</html>