<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css" src="css/pedometer.css"></style>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBFzkP1MG9TqjeRIbwcqbelGNuHAOMTJKQ&sensor=false"></script>
    <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="/js/pedometer.js"></script>
  </head>
  <body>
    <div id="controls"></div>
    <div id="map_canvas"></div>
  </body>
</html>